@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container row h-100 mh-100">
    <div class="col-12 h-100">
        <div class="row h-5 ">
            <div class="col-12 h-100">
                <h3 class="mb-0">Contacts</h3>
            </div>
        </div>
        <div class="row h-95 pt-3">
            <div class="col-3 container h-100">
                <div class="row h-10">
                    <div class="col-12 h-100">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown button
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  h-90">
                    <div class="col-12 h-100">
                        <div  class="list-group mh-100" style="overflow-y: scroll;">
                            <a href="#" class="list-group-item list-group-item-action active">
                                Cras justo odio
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                            <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                            <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                            <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-9 container h-100">
                <div id="messageBox" class="h-80 container row border" style="overflow-y:scroll;">

                    <div class="w-100 h-25px">
                        <p>fasfsdfdsf</p>
                    </div>
                    <div class="w-100 h-25px">
                        <p>fasfsdfdsf</p>
                    </div>
                    <div class="w-100 h-25px">
                        <p>fasfsdfdsf</p>
                    </div>
                    <div class="w-100 h-25px">
                        <p>fasfsdfdsf</p>
                    </div>
                    <div class="w-100 h-25px">
                        <p>fasfsdfdsf</p>
                    </div>
                    <div class="w-100 h-25px">
                        <p>fasfsdfdsf</p>
                    </div>
                    <div class="w-100 h-25px">
                        <p>fasfsdfdsf</p>
                    </div>
                    <div class="w-100 h-25px">
                        <p>fasfsdfdsf</p>
                    </div>
                    <div class="w-100 h-25px">
                        <p>fasfsdfdsf</p>
                    </div>
                    <div class="w-100 h-25px">
                        <p>fasfsdfdsf</p>
                    </div>
                    <div class="w-100 h-25px">
                        <p>fasfsdfdsf</p>
                    </div>
                    <div class="w-100 h-25px">
                        <p>fasfsdfdsf</p>
                    </div>
                    <div class="w-100 h-25px">
                        <p>fasfsdfdsf</p>
                    </div>
                    <div class="w-100 h-25px">
                        <p>fasfsdfdsf</p>
                    </div>
                    <div class="w-100 h-25px">
                        <p>fasfsdfdsf</p>
                    </div>
                    <div class="w-100 h-25px">
                        <p>fasfsdfdsf</p>
                    </div>
                    <div class="w-100 h-25px">
                        <p>fasfsdfdsf</p>
                    </div>
                    <div class="w-100 h-25px">
                        <p>fasfsdfdsf</p>
                    </div>
                    <div class="w-100 h-25px">
                        <p>fasfsdfdsf</p>
                    </div>
                    <div class="w-100 h-25px">
                        <p>fasfsdfdsf</p>
                    </div>
                    <div class="w-100 h-25px">
                        <p>fasfsdfdsf</p>
                    </div>
                    <div class="w-100 h-25px">
                        <p>fasfsdfdsf</p>
                    </div>
                </div>
                <div class="h-20 container row border p-3">
                    <div class="input-group">
                        <textarea id="msg" type="text" class="form-control h-100" placeholder="Type to input..." style="resize:none;" ></textarea>
                        <div class="input-group-append" id="button-addon4">
                            <button id="sendBtn" class="btn btn-success" type="button">Send</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>


    $("#messageBox").animate({ scrollTop: $("#messageBox").height() }, 1000);


    $("#messageBox").delay(2000).scroll(function(){
        if ($(this).scrollTop() < 20)
        {
            //alert('1');
        }
    });

    $("#sendBtn").click(function()
    {
        var from = 1;
        var to = 2;
        var message = $("#msg").val();
        connection.invoke("SendMessage", from, to, message).catch(function (err) {
            return console.error(err.toString());
        });
    });
    
    </script>
}