@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form>
    <div class="container row ">
        <div class="col-12 container">
            <div class="input-group input-group-lg">

                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>
        </div>
    </div>
    <div class="container row ">
        <div class="col-12 container">
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10"></textarea>
        </div>
    </div>
    <div class="container row ">
        <div class="col-8">
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-3 container">
                    <button type="button" class="btn btn-info">BACK</button>
                </div>
                <div class="col-3 container">
                    <button type="button" class="btn btn-danger">DELETE</button>
                </div>
                <div class="col-3 container">
                    <button type="button" class="btn btn-dark">SAVE</button>
                </div>
                <div class="col-3 container">
                    <button type="button" class="btn btn-success">DONE</button>
                </div>
            </div>
        </div>
    </div>
</form>